<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      #intro {
        background-image: url("https://www.bmw.in/content/dam/bmw/marketIN/bmw_in/all-models/x-series/x7/X7DarkShadow/X3-1680x756_05.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1642656232136.jpg");
        height: 100vh;
      }
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
    </style>
    <meta charset="utf-8">
    <title>Cheapest Self drive E-car/E-bike in the city</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
    <body  >
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://127.0.0.1:8000/home/"><span class="glyphicon glyphicon-home"></span> E-Vehicle</a></li>
            <li><a href="http://127.0.0.1:8000/user_register/"><span class="glyphicon glyphicon-user"></span>Normal Sign Up</a></li>
            <li><a href="http://127.0.0.1:8000/user_login/"><span class="glyphicon glyphicon-log-in"></span>Normal User Login</a></li>
            <li><a href="http://127.0.0.1:8000/corpuser_register/"><span class="glyphicon glyphicon-briefcase"></span>Corporate  Sign Up</a></li>
            <li><a href="http://127.0.0.1:8000/corpuser_login/"><span class="glyphicon glyphicon-globe"></span>Corporate Login</a></li>
            <li><a href="http://127.0.0.1:8000/operator_login/"><span class="glyphicon glyphicon-pushpin"></span>Operator Login</a></li>
            <li><a href="http://127.0.0.1:8000/manager_login/"><span class="glyphicon glyphicon-king"></span>Manager Login</a></li>
            <li><a href="http://127.0.0.1:8000/contact_us/"><span class="glyphicon glyphicon-envelope"></span>Contact US</a></li>
          </ul>


      </nav>

      <div id="intro" class="bg-image shadow-2-strong" >
        <div class="container" >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.2); color:white ;">
            <br>
            <br>
            <h1>&emsp; Contact Us: </h1>
            <br><br>
            <h1>&emsp; Welcome to E-vehicle Support</h1>

            <p>&emsp;&emsp;&emsp; Find answers to all your queries, call us at  44 7442233219</p>

            <p>&emsp; &emsp;&emsp;Please note that a sizeable part of our Customer Support team is down with Covid.
              Please expect a higher response time as we allow our teams to recover.</p>
              <br>
             <h5 > &emsp; &emsp; <span class="glyphicon glyphicon-envelope"></span>  &emsp; Email us at: travel@Evehicles.com</h5>
            <br>
             <h5 > &emsp; &emsp; <span class="glyphicon glyphicon-phone"></span>  &emsp; Call us at: 44 7442233219</h5>
            <br><br><br>
          </div>
        </div>
      </div>



      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://Evehicles.com/">Evehicles.com</a>
    </div>
  </footer>


  </body>
</html>
