<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style media="screen">
      .logou{
        text-align: right;
      }
    </style>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powderblue;" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:8000/home/"><span class="glyphicon glyphicon-home"></span> E-Vehicle</a></li>
          <li><a href="http://127.0.0.1:8000/user_register/"><span class="glyphicon glyphicon-user"></span>Normal Sign Up</a></li>
          <li><a href="http://127.0.0.1:8000/user_login/"><span class="glyphicon glyphicon-log-in"></span>Normal User Login</a></li>
          <li><a href="http://127.0.0.1:8000/corpuser_register/"><span class="glyphicon glyphicon-briefcase"></span>Corporate  Sign Up</a></li>
          <li><a href="http://127.0.0.1:8000/corpuser_login/"><span class="glyphicon glyphicon-globe"></span>Corporate Login</a></li>
          <li><a href="http://127.0.0.1:8000/operator_login/"><span class="glyphicon glyphicon-pushpin"></span>Operator Login</a></li>
          <li><a href="http://127.0.0.1:8000/manager_login/"><span class="glyphicon glyphicon-king"></span>Manager Login</a></li>
          <li><a href="http://127.0.0.1:8000/contact_us/"><span class="glyphicon glyphicon-envelope"></span>Contact US</a></li>
          <li><a href="/logout/">Logout</a></li>
        </ul>
  </nav>
<h1>{{ request.session.name }}!  Welcome back！</h1>

<footer class="bg-light text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://Evehicles.com/">Evehicles.com</a>
  </div>
</footer>

</body>
</html>
